[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	email = zukoweb@gmail.com
	name = David Zukowski
[core]
	editor = vim
	excludesfiles = /Users/zuko/.gitignore_global
	excludesfile = ~/.gitignore
[color]
	ui = auto
[hub]
	protocol = ssh