########################
# JavaScript
########################
'.source.js':

  # Console
  'Console log':
    'prefix': 'log'
    'body': """
    console.log(${1});
    """

  'Console group':
    'prefix': 'group'
    'body': """
    console.group('${1}');
    console.log(${2});
    console.groupEnd();
    """

  'Console warn':
    'prefix': 'warn'
    'body': """
    console.warn('${1}');
    """

  # DOM
  'querySelector':
    'prefix': 'one'
    'body': """
    ${1:document}.querySelector('${2:selector}')
    """

  'querySelectorAll':
    'prefix': 'all'
    'body': """
    ${1:document}.querySelectorAll('${2:selector}')
    """

  'getElementById':
    'prefix': 'gi'
    'body': """
    ${1:document}.getElementById('${2:selector}')
    """

  'getElementByTagName':
    'prefix': 'gt'
    'body': """
    ${1:document}.getElementByTagName('${2:selector}')
    """

  # Functions
  'Function':
    'prefix': 'fn'
    'body': """
    function ${1} (${2}) {
      ${3}
    }
    """
  'Anonymous Function':
    'prefix': 'afn'
    'body': """
    function (${1}) {
      ${2}
    }
    """

  'IIFE':
    'prefix': 'iife'
    'body': """
    (function (${1}) {
      ${2}
    })(${3});
    """

  # Testing
  'Describe':
    'prefix': 'de'
    'body': """
    describe('${1}', function () {
      ${2}
    });
    """

  'It':
    'prefix': 'it'
    'body': """
    it('${1}', function () {
      ${2}
    });
    """

  'It Should':
    'prefix': 'sh'
    'body': """
    it('Should ${1}.', function () {
      ${2}
    });
    """

  # Gulp
  'Gulp Task':
    'prefix': 'task'
    'body': """
    gulp.task('${1}', [${2}], function () {
      ${3}
    });
    """

  # React
  'React: componentDidMount: fn() { ... }':
    'prefix' : 'cdm'
    'body' : """
    componentDidMount : function () {
      ${1}
    }
    """

  'React: componentDidUpdate: fn(pp, ps) { ... }':
    'prefix': 'cdup'
    'body': """
    componentDidUpdate : function (prevProps, prevState) {
      ${1}
    }
    """

  'React: componentWillMount: fn() { ... }':
    'prefix': 'cwm'
    'body': """
    componentWillMount : function () {
      ${1}
    }
    """

  'React: componentWillReceiveProps: fn(np) { ... }':
    'prefix': 'cwr'
    'body': """
    componentWillReceiveProps : function (nextProps) {
      ${1}
    }
    """

  'React: componentWillUnmount: fn() { ... }':
    'prefix': 'cwun'
    'body': """
    componentWillUnmount : function() {
      ${1}
    }
    """

  'React: componentWillUpdate: fn(np, ns) { ... }':
    'prefix': 'cwu'
    'body': """
    componentWillUpdate : function (nextProps, nextState) {
      ${1}
    }
    """

  'React: cx({ ... })':
    'prefix': 'cx'
    'body': """
    cx({
      $1 : $2
    });
    """

  'React: forceUpdate(...)':
    'prefix': 'fup'
    'body': """
    forceUpdate(${1:callback});
    """

  'React: getDefaultProps: fn() { return {...} } ':
    'prefix': 'gdp'
    'body': """
    getDefaultProps : function () {
      return {${1};
    }
    """

  'React: getInitialState: fn() { return {...} } ':
    'prefix': 'gis'
    'body': """
    getInitialState : function() {
      return {
        ${1} : ${2}
      };
    }
    """

  'React: isMounted()':
    'prefix': 'ism'
    'body': """
    isMounted()
    """

  'React: propTypes { ... }':
    'prefix': 'pt'
    'body': """
    propTypes: {
      ${1} : React.PropTypes.${2:string}
    }
    """

  'React: render: fn() { return ... }':
    'prefix': 'ren'
    'body': """
    render : function () {
      return (
        ${1:<div />}
      );
    }
    """

  'React: setState({ ... })':
    'prefix': 'sst'
    'body': """
    setState({
      ${1} : ${2}
    });
    """

  'React: shouldComponentUpdate: fn(np, ns) { ... }':
    'prefix': 'scu'
    'body': """
    shouldComponentUpdate : function (nextProps, nextState) {
      ${1}
    }
    """

  'React: this.props.':
    'prefix': 'props'
    'body': """
    this.props.${1}
    """

  'React: this.state.':
    'prefix': 'state'
    'body': """
    this.state.${1}
    """

  'React: render(component, container, [callback])':
    'prefix': 'rrc'
    'body': """
    React.render(${1:<$2 />}, ${3:document.body}${4:, ${5:callback}})
    """

########################
# Jade
########################
'.source.jade':

  # Scaffold
  'Scaffold-Jade':
    'prefix': 'scaffold'
    'body': """
    doctype html
    html(lang='en')
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='author' content='David Zukowski' href='//zuko.me')
    body
      ${1}
    """

########################
# HTML
########################
'.text.html':

  # Scaffold
  'Scaffold-HTML':
    'prefix': 'scaffold'
    'body': """
    <!doctype html>
    <html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="author" content="David Zukowski" href="//zuko.me" />
    </head>
    <body>
      ${1}
    </body>
    </html>
    """

########################
# Markdown
########################
'.source.gfm':

  'TODO Item':
    'prefix': 'do'
    'body': """
    * [ ] ${1}
    """

  'TODO Item (done)':
    'prefix': 'did'
    'body': """
    * [x] ${1}
    """
